<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CucumberStepsWizard"
         name="Cucumber Steps Generator"
         point="org.eclipse.ui.newWizards">
      <category
            name="Cucumber"
            id="CucumberStepsWizard">
      </category>
      <wizard
            name="Generate steps"
            icon="icons/sample.gif"
            category="CucumberStepsWizard"
            class="cucumberstepswizard.wizards.SampleNewWizard"
            id="cucumberstepswizard.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="cucumberstepswizard.preferences.SamplePreferencePage"
            id="cucumberstepswizard.preferences.SamplePreferencePage"
            category="CucumberStepsWizard"
            name="Steps Generator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cucumberstepswizard.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
